[client]
user = root
default-character-set = utf8mb4

[mysqld]
user = root
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
innodb-use-native-aio = 0

server-id=2
gtid_mode=ON
enforce-gtid-consistency=ON
read_only=1

[mysql]
prompt = '(slave) [\\d] > '
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4